@import "styles/variables.scss";

.working-section {
    width: 100%;
    margin-top: 20rem;
    display: grid;
    grid-template-columns: repeat(12,1fr);

    .working-wrapper{
        grid-column-start: 4;
        grid-column-end: 13;
        display: grid;
        row-gap: 4em;

        h1{
            color: $prime-color;
            text-transform:uppercase;
            display: grid;
            row-gap: 3rem;
            line-height: 4.5rem;
            .deco-line{
              
                display: block;
                height: .4rem;
                width: 60%;
                background-color: $prime-color;
                border-radius: 10rem;
            }
        }
        // .para{
        //     display: grid ;
        //     row-gap: 3em;
        // }
    }
}
