@import 'styles/variables.scss';


.about-section{
    height: 100vh;
        height: max(100vh,700px);

    .about-content{
        display: flex;
        flex-direction: column;
        gap: 4em;
        // width: 95%;
        h1{
            // line-height: 6.5rem;
        }
        .para{
            display: grid;
            row-gap: 2rem;
            // width: 90%;
        }
    }
}