@import "styles/variables.scss";

.assets-container {
  margin-top: 20rem;
  .assets-content {
    display: flex;
    justify-content: space-evenly;
    gap: 10rem;
    flex-wrap: wrap;
    margin: 0 15rem;

    .asset {
      display: flex;
      flex-direction: column;
      // justify-content: center;
      align-items: center;
      gap: 1.2rem;
      //   flex-shrink: 0;
      max-width: 20rem;
      img {
        height: 12rem;
      }
      .asset-quantity {
        font-size: 2.8rem;
        color: $prime-color;
        font-weight: 600;
        text-align: center;
      }
      .asset-description {
        font-weight: 600;
        text-align: center;
      }
    }
  }
}
