@import "styles/variables.scss";

.shipping-section {
//   margin-top: 20rem;
  width: 100%;

  .shipping-content {
    display: grid;
    grid-template-columns: repeat(12, 1fr);

    .shipping-heading {
      grid-column-start: 1;
      grid-column-end: 4;
      h1{
          display: flex;
          align-items: center;
          span{
            margin-right: 1rem;
          }

      }
      h1::after {
        content: "";
        display: block;
        height: 3px;
        width: 3rem;
        background-color: $prime-color;
        border-radius: .2rem;
        margin-left: 2rem;
      }

    }

    .shipping-form {
      grid-column-start: 5;
      grid-column-end: 13;
      //   margin-top: 1rem;
      display: grid;
      row-gap: 5em;
      
      .form-row {
          display: flex;
          width: 100%;
          // align-self: stretch;
          // flex: 1 0 0;
          gap: 4rem;
        }
    }
    // hr{
        
        //     grid-column-start: 1;
        //     grid-column-end: 13;
        //     border-color: $l-black;
        //     width: 100%;
        //     border-bottom: none;
        //     margin-top: 10em;
    // }
    .submit-btn{
        
        grid-column-start: 5;
        grid-column-end: 13;
        margin-top: 5rem;
    }
}
}
